html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:700}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:700}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}
html,button,input,select,textarea{color:#222;}body{font-size:1em;line-height:1.4;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}img{vertical-align:middle;}fieldset{border:0;margin:0;padding:0;}textarea{resize:vertical;}.ir{background-color:transparent;border:0;overflow:hidden;text-indent:-9999px;}.ir:before{content:"";display:block;width:0;height:150%;}.hidden{display:none!important;visibility:hidden;}.visuallyhidden{border:0;clip:rect(0000);height:1px;overflow:hidden;position:absolute;width:1px;margin:-1px;padding:0;}.visuallyhidden.focusable:active,.visuallyhidden.focusable:focus{clip:auto;height:auto;overflow:visible;position:static;width:auto;margin:0;}.invisible{visibility:hidden;}::-moz-selection,::selection{background:#b3d4fc;text-shadow:none;}

@font-face {
  font-family: 'SansusWebissimo';
  src: url('SansusWebissimo.eot');
  src: url('SansusWebissimo.woff2') format('woff2'),
       url('SansusWebissimo.woff') format('woff'),
       url('SansusWebissimo.ttf') format('truetype'),
       url('SansusWebissimo.svg#SansusWebissimo') format('svg'),
       url('SansusWebissimo.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

* {
	font-family: 'SansusWebissimo', 'Georgia', sans-serif;
}

html {
	overflow-x: hidden;

}
body {
	margin: 0;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position: relative;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	background-color: #c1c1c1;
}
fieldset {
	border: 0;
}

.l {
	float: left;
}
.r {
	float: right;
}
.clearfix::after {
	content: ''; 
	display: table;
	width: 100%;
	clear: both;
}

#preload {
	position: fixed;
	left: 0;
	top: 0;
	right:0;
	bottom:0;
	background: #fff;
	z-index: 30;
}
.container-preload {
	position: relative;
	height: 100%;
	width: 100%;
}
#preload .item {
	display: inline-block;
	position: absolute;
	width: 297px;
	height: 297px;
	background: url(../images/pre-load-item.gif);
	background-position: center center;
	background-repeat: no-repeat;
	top: 40%;
	left: 40%;
}
.del-0.1s {
	-webkit-animation-delay: .1s;
    -moz-animation-delay: .1s;
    -o-animation-delay: .1s;
    animation-delay: .1s;
}
.del-0.3s {
	-webkit-animation-delay: .3s;
    -moz-animation-delay: .3s;
    -o-animation-delay: .3s;
    animation-delay: .3s;
}
.del-0.8s {
	-webkit-animation-delay: .8s;
    -moz-animation-delay: .8s;
    -o-animation-delay: .8s;
    animation-delay: .8s;
}
.del-1s {
	-webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
}





.wrapper {

    min-width: 200px;
    max-width: 1240px;
    margin: 0 auto;
    -webkit-box-shadow: 0 3px 2px 1px #373C5E;
    box-shadow: 0 0 10px 2px #373C5E;
}
.container {
	padding: 0 2%;
}
.top {
	max-width: 1240px;
	min-width: 300px;
	background-image: url(../images/bg-top.png);
}
.fancybox-custom .fancybox-skin {
	box-shadow: 0 0 50px #222;
}
.gall > a {
	text-decoration: none;
}
.fancybox img {
    margin-bottom: 4px;
}

header {
	text-align: center;
}
header nav{
	padding-top: 30px;
	}
header nav > .item {
	display: inline-block;
	position: relative;
}
header nav > .item > a {
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	margin: 0 50px;
	font-size: 24px;
}
header nav > .item > a:hover,
header nav > .item > .active {
	color: #d6d602;
	text-shadow: 0 0 30px rgba(250, 183, 40, 1);
	-webkit-text-shadow: 0 0 35px rgba(250, 183, 40, 0.8);
	-moz-text-shadow: 0 0 35px rgba(250, 183, 40, 0.8);
}
header nav .nav-img {
	display: inline-block;
	background-image: url(../images/nav-img.png);
	width: 53px;
	height: 55px;
	vertical-align: middle;
}

h1 {
	padding-top: 6%;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
	margin-top: 15%;
}
nav > .item.sub-menu-item:hover .sub-menu {
	display: block;
}
.sub-menu {
	position: absolute;
	width: 100%;
	display: none;
	animation-duration: 0.6s;
	-webkit-animation-duration: 0.6s;
}
.sub-menu > .item {
	margin: 5px 0;
}
.sub-menu > .item > a {
	text-decoration:none;
	color: #fff;
}
.sub-menu > .item > a:hover {
	color: #d6d602;
	text-shadow: 0 0 30px rgba(250, 183, 40, 1);
	-webkit-text-shadow: 0 0 35px rgba(250, 183, 40, 0.8);
	-moz-text-shadow: 0 0 35px rgba(250, 183, 40, 0.8);
}
.button {
    text-align: center;
    margin-top: 20px;
    text-transform: uppercase;
}
.button a {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	background-color: #438a4f;
	width: 150px;
	line-height: 40px;
	border-radius: 5px;
	margin-bottom: 190px;
	text-align: center;
	webkit-transition: background-color 444ms ease;
	-moz-transition: background-color 444ms ease;
	-ms-transition: background-color 444ms ease;
	-o-transition: background-color 444ms ease;
	transition: background-color 444ms ease;
}
.button a{
	animation-direction: alternate;
	-webkit-animation: pulse 2s infinite ease;
	animation: pulse 2s infinite ease;
}
@-webkit-keyframes pulse {
	50%	{ 
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	-o-transform: scale(1.25);
	opacity: 0.3;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
	}
}
@keyframes pulse {
	50%	{ 
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	-o-transform: scale(1.25);
	opacity: 0.3;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
	}
}

.button a:hover {
	background-color: orange;
}
.top-text {
	text-align: center;
	color: #fff;
	font-size: 18px;
}
.social {
	text-align: center;
	padding-bottom: 10px;
}
.social > .item {
	display: inline-block;
	margin: 0 10px;
}
.social > .item:hover {
	opacity: 1;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}
.social .soc-0 {
	background-image: url(../images/social-fb.png);
	width: 35px;
	height: 35px;
	opacity: 0.8;
}
.social .soc-1 {
	background-image: url(../images/social-yt.png);
	width: 35px;
	height: 35px;
	opacity: 0.8;
}
.social .soc-2 { 
	background-image: url(../images/social-tw.png);
	width: 35px;
	height: 35px;
	opacity: 0.8;
}

.level-1 {
	background-color: #f5f6f7;
	position: relative;
}
.level-1 .button {
	
}
.head {
	font-size: 32px;
	color: #438a4f;
}
.level-1 .head {
	padding-bottom: 50px;
}
.text {
	color: #438a4f;
}
.level-1 .text {
	padding-bottom: 50px;
}
.level-1 .button {
	text-align: left;
}
.level-1 .button a {
	margin-bottom: 100px;
}
.hand {
	top: 158px;
	right: 50px;
	background-image: url(../images/hand.png);
	display: inline-block;
	position: absolute;
	width: 644px;
	height: 400px;
}
.level-2 {
	background-color: #f5f6dd;
}
.level-1 .container {
	padding: 100px 0 0 150px;
}
.level-2 .box {
	padding: 60px 0 80px 70px;
	text-align: center;
	display: block;
}
.camera {
	display: inline-block;
	background-image: url(../images/camera.png);
	width: 59px;
	height: 55px;
}
.gallery-container {
	display: block;
	position: relative;
	text-align: center;
	padding-bottom: 20px;
}
.gallery {
	display: inline-block;
	width: 865px;
	overflow: hidden;
}
.img-container {
	width: 2055px;
	-webkit-transition: margin-left 250ms;;
	-moz-transition: margin-left 250ms;;
	-ms-transition: margin-left 250ms;;
	-o-transition: margin-left 250ms;;
	transition: margin-left 250ms;
}
.gallery .item {
	margin: 0 5px;
}
.gallery-container .slide-next {
	position: absolute;
	width: 30px;
	height: 30px;
	background-image: url(../images/slide-left.png);
	display: inline-block;
	cursor: pointer;
	top: 35%;
	left: 5%;
}
.gallery-container .slide-prev {
	width: 30px;
	height: 30px;
	background-image: url(../images/slide-right.png);
	display: inline-block;
	cursor: pointer;
	position: absolute;
	right: 5%;
	top: 35%;
}
.gallery > .item > img {
	display: inline-block;
}
.contact {
	padding: 22% 0;
	text-align: center;
	background-image: url(../images/bg-contact.png);
}
.info-message {
	padding-top: 10px;
	color: #438a4f;
}
.contact .container .content {
	margin: 26% 0;
}
.contact .head {
	padding-bottom: 15px;
	color: #fff;
	font-size: 26px;
	text-transform: uppercase;
}
.mail-container {
	height: 68px;
}
fieldset .email {
	display: block;
	padding-left: 20px;
	width: 270px;
	padding: 11px 0 12px 20px;
	border: 2px solid white;
	border-radius: 5px;
	webkit-transition: border 444ms ease;
	-moz-transition: border 444ms ease;
	-ms-transition: border 444ms ease;
	-o-transition: border 444ms ease;
	transition: border 444ms ease;
	margin: 0 auto;
} 
.submit {
	margin-left: 20px;
	background-color: #5bc187;
	border: 0;
	padding: 10px 25px;
	border-radius: 5px;
	display: inline-block;
	vertical-align: top;
	webkit-transition: background-color 444ms ease;
	-moz-transition: background-color 444ms ease;
	-ms-transition: background-color 444ms ease;
	-o-transition: background-color 444ms ease;
	transition: background-color 444ms ease;
}
.submit:hover {
	background-color: orange;
} 
.err-message {
	font-size: 20px;
	height: 22px;
	color: #b3d4fc;
}
#scrollup {
	position: fixed;
	opacity: 0.3;
	padding: 15px 10px 10px;
	background: #aaa;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	left: 10px;
	bottom: 32px;
	display: none;
	cursor: pointer;
}
.contact .file {
	position: absolute;
	height: 100%;
	width: 100%;
	opacity: 0;
	outline: none;
	font-size: 0;
	margin-left: -8%;
	padding-right: 8%;
	cursor: pointer;
}
.file-name {
	font-weight: bold;
	display: block;
	margin: 0 auto;
	color: #5f5f5f;
	font-family: 'open_sansregular', Arial, sans-serif;
}
.contact .attech-container:hover .attech {
	background-color: #FFC573;
}
.contact .attech {
	border-radius: 5px;
	display: inline-block;
	background-color: #e6eaeb;
	font-size: 18px;
	padding: 8px 36px;
	color: #5f5f5f;
	font-family: 'open_sansregular', Arial, sans-serif;
	    webkit-transition: background-color 444ms ease;
    -moz-transition: background-color 444ms ease;
    -ms-transition: background-color 444ms ease;
    -o-transition: background-color 444ms ease;
    transition: background-color 444ms ease;
}
.attech-container {
	display:inline-block;
	position: relative;
	overflow: hidden;
}
.attech-submit {
	padding-top: 5px;
	height: 100px;
}
.submit:focus, 
fieldset .email:focus {
	outline: 0;
}
footer {
	background-color: #fff;
}
.copyright {
	display: inline-block;
	padding: 50px 40px;
	font-weight: bold;
}
footer .camera {
	float: right;
	display: inline-block;
	margin: 30px 100px 0 0;
}

@media screen and (max-width:1200px) {
	.gallery-container .slide-next {left: 1%;}
	.gallery-container .slide-prev {
		right: 1%;
	}  
}

@media screen and (max-width:1100px) {
	.level-2{
		text-align: center;
	}
	.level-2 .box{
	    padding: 25px 0;
	    display: block;
	}
	.gallery {
	    padding: 0 0 25px 0;
	}
	.sub-menu {
	}
}
@media screen and (max-width:1050px) {
	.gallery-container .slide-prev {
    	right: 0;
    	top: 82%;
    }
    .gallery-container .slide-next {
    	left: 0;
    	top: 82%;
    }
}

@media screen and (max-width:1000px) {
	.hand {
    	right: 0px;
    }
    .container {
		padding: 0 1%;
	}
	#preload .item {
		top: 30%;
		left: 30%;
	}
}
@media screen and (max-width:900px) {
	.hand {
		display: none;
    }
    .gallery-container .slide-prev,
    .gallery-container .slide-next,
    .hand {
    	display: none;
    } 
    .gallery {
    	width: 577px;
    }
}
@media screen and (max-width:850px) {
	header nav > .item > a {
		margin: 0 25px;
	}
}
@media screen and (max-width:800px) {
	
}
@media screen and (max-width:750px) {
	header nav .nav-img{
		display: none;
	}
	header nav > .item {
	    margin-top: 15px;
	}
	.logo-mini {
		margin-top: 10px;
		display: inline-block;
		background-image: url(../images/nav-img.png);
		width: 53px;
		height: 55px;
	}
	footer .camera {
		margin: 30px 30px 0 0;
	}
}
@media screen and (max-width:700px) {
	header nav > .item > a {
	    padding: 0 15px;
	    font-size: 18px;
	}
	.err-message {
	    font-size: 18px;
	}
	.button a {
		margin-bottom:40px;
	}
	#preload .item {
		top: 20%;
		left: 20%;
	}
}
@media screen and (max-width:600px) {
	.level-1 .container {
		padding: 20px 0 0 0;
		text-align: center;
	}
	.level-1 .button {
		text-align: center;
	}
	.gallery {
		width: 290px;
	}
}
@media screen and (max-width:550px) {
	.copyright {
	    padding: 50px 10px;
	}
	.top h1 {
		font-size: 22px;
		padding: 10%;
	}
	.top-text {
		font-size: 16px;
	}
	.animated {
		animation-fill-mode: none !important;
	}
	footer .camera {
	    float: none;
	    display: block;
	    margin: 0 auto;
	}
	.copyright {
		padding: 20px 10px;
	    text-align: center;
    	display: block;
	}
	footer{
		padding-bottom: 20px;
	}
	fieldset .email {
	    width: 210px;
	}
	.contact .head {
	    font-size: 22px;
	}
	.level-1 .head{
		font-size: 24px;
	    padding-bottom: 20px;
	}
	.level-1 .text {
	    padding-bottom: 20px;
	    font-size: 14px;
	}
	.level-1 .button a {
	    margin-bottom: 50px;
	}
}
@media screen and (max-width:500px) {
	header nav > .item {
		margin: 10px 30px;
	}
	#preload .item {
		top: 15%;
		left: 15%;
	}
}
@media screen and (max-width:400px) {
	header nav > .item {
		margin: 20px 0;
		display:block;
	}
	header nav{
		padding: 0;
	}
	#preload .item {
		top: 10%;
		left: 10%;
	}
}
@media screen and (max-width:350px) {
	#preload .item {
		top: 5%;
		left: 5%;
	}
}